twilio~=6.42.0
opencv-python~=4.2.0.34
lxml
numpy~=1.18.5
asyncpg
beautifulsoup4~=4.9.1
discord~=1.0.1
requests~=2.24.0
Pillow==7.1.2
PyGetWindow==0.0.8
PyMsgBox==1.0.8
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
markovify~=0.8.2
git+https://github.com/Rapptz/discord.py
pyAesCrypt~=0.4.3